body {
  margin:0;
  font-family:Poppins,sans-serif;
  background:#f6efe6;
}

.hero {
  height:100vh;
  position:relative;
  overflow:hidden;
}

.hero-bg {
  background:url("../public/images/hero.jpg") center/cover no-repeat;
  position:absolute;
  inset:0;
  transform:scale(1.15);
  will-change:transform;
}

.hero-overlay {
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.65);
}

.hero-content {
  position:relative;
  z-index:2;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  color:#fff;
  text-align:center;
}

.btn {
  padding:18px 38px;
  border-radius:60px;
  cursor:pointer;
  border:none;
  background:#25d366;
  color:#fff;
  font-weight:600;
}

.btn:active {
  transform:translateY(5px) scale(.94);
}
